<div id="about">
  <div class="row">
    <div class="about-me">
            <h1>Welcome to my world! My name is Puneet ;)</h1>
        <h3>Senior Associate Developer (Front End) at SapientRazorfish</h3>
         <p class="para1">
           As an enthusiastic individual with over four years of hands-on experience in front-end development and over eight years of education in computing which include two diplomas and Bachelors.
         </p>
         <p class="para2">
          I'm proficient in HTML, CSS, SASS, Javascript, Jquery, Foundation, Bootstrap and Wordpress and also have good knowledge of Knockout, React, Angular, Grunt, Git, JSON, PHP, Laravel, AJAX, MySQL. 
        </p>
        <p class="para2">
          Additionally, I have good working experience with cross-browser compatibility and responsive design. The time I have entered in this field realized that this line needs continuous learning skills and I am always ready and keen to learn about new languages or technology in the market which help me and team to develop futuristic and cutting edge web applications. Owing to the fact that I am a born team player, love to work well in a team-fostered environment that makes my work easy and fun to do.
        </p>
        <a class="resume right" href="_assets/paper/PuneetSehgal(Resume).pdf" target="_blank" style="text-decoration:none;">resume</a>
        <div class="clear"></div>
    </div>
  </div>  
</div>