<div id="contact" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" >
        <!--<div class="closeContact pull-right" style="color:f9f9f9; position:relative; z-index:10000; cursor:pointer;"><img src="images/close.png" alt="close" width="40" height="40"></div>-->
        <h1> Contact Me</h1>
        <form method="post" action="index.php" id="form">
            <!-- <div class="large-6 medium-6 small-12 columns">
                <input type="text" placeholder="Enter Your Name*" class="name" name="name" readonly>
            </div>
            <div class="large-6 medium-6 small-12 columns">
                <input type="text" placeholder="Enter Your Email*" class="email" name="email" readonly>
            </div> -->
            <div style="clear:both;"></div>
            <div class="large-12 columns">
                 <!-- <textarea placeholder="Enter Your Message*" class="text" name="message" readonly></textarea> -->
                <!-- <button type="submit" class="submit" name="submit" form="form" value="Submit">Submit</button> -->
                <a href="mailto:puneetsehgal88@gmail.com?subject=Inquiry" class="submit">Send mail</a>
            </div>
            <div style="clear:both;"></div>

        </form>
    <a class="close-reveal-modal" aria-label="Close" style="color:#efefef;">&#215;</a>
</div>