<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" contanet="Puneet Sehgal" />
    <meta property="og:image" content="http://www.puneetsehgal.com/_assets/images/puneet.jpg"/>
    <meta name="keywords" contanet="Puneet, Sehgal, Puneet Sehgal, web, web developer, developer, dashboard, macroblu, junior, games,
      humber, humber college, graduate, web designer, designer, toronto, canada," />
    <meta name="description" contanet="Welcome to my world! My name is Puneet ;)
I am a Toronto based web developer, graduate of Humber College. Recently completed 1year at Dashboard as a Junior Web Developer
My journey with web development began in 2005, when I chose the path of pursuing Computer Science in India. As an amateur who
had just taken up this field, I enjoyed working on editing pictures and using Photoshop to unveil many new aspects of color
After I completed my bachelors degree, I moved to Toronto to enhance my skills in coding as well as designing. I wanted to
gain a better understanding and hence I chose to do another Diploma in Multimedia Design at Humber College. I am really glad
that I made that decision as I enjoyed learning and gained great experience for my future endeavors. Shortly after, I was
 to do my internship at Macroblu, where I worked with wordpress websites. After I completed my program at Humber College
 with distinction that included the reward of two Awards in Humber College for Best Web Development Portfolio and Best
 Mobile Design. I successfully got an offer from Dashboard to begin working with them. Working at Dashboard was the best
  experience as I learned how to use codes in the real world and how to solve/debug the problems/errors. At Dashboard, I
  worked on wordpress websites and query based win prizes games, out of which I made 30 games using my experience and knowledge.
   Overall, my journey has been amazing because with hard work and effort, I have been able to accomplish many goals and hope
    continue doing so. As a wise man once said, There are no secrets to success. It is the result of preparation, hard work,
          and learning from failure. I follow this motto on a daily basis as it truly the method I have followed in order to
    keep growing and never give up." />
    <title>Puneet Sehgal Portfolio</title>
    <link rel="icon" href="_assets/images/fav-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  </head>