<div id="work">
    <div class="wrapper">
        <div class="work-holder">
            <div class="category">
                <ul>
                    <li class="sort-sign filter" data-filter="all"><a class="filter-btn">All</a></li>
                    <li class="sort-sign filter" data-filter=".category-web"><a class="filter-btn">Web</a></li>
                    <li class="sort-sign filter" data-filter=".category-photoshop"><a class="filter-btn">Photoshop/Illustrator</a></li>
                </ul>
            </div> <!--category end -->
        </div><!--work-holder end -->

            <div id="container">
                <ul id="da-thumbs" class="da-thumbs">

                    <li  class='mix category-web projects' data-myorder="2" >

                        <a href="http://www.zonemarketinggroup.com/" target="_blank" id="pro1">
                           <img src="_assets/images/work/zone.jpg" alt="Zone Marketing">
                            <div><span>Zone Marketing <br><i> WordPress</i> <hr><i>External Link</i></span>
                            </div>
                        </a>

                    </li>

                    <li  class='mix category-web projects' data-myorder="2" >

                        <a href="http://stage.sofinafoods.com.vsd65.korax.net/" target="_blank" id="pro2">
                            <img src="_assets/images/work/sofina.jpg" alt="Sofina Food">
                            <div><span>Sofina Food Service <br><i> Wordpress</i> <hr><i>External Link</i></span>
                            </div>
                        </a>

                    </li>
                    <li class='mix category-web projects'>
                        <a href="http://www.waterwisecoffee.com/" target="_blank" id="pro3">
                            <img src="_assets/images/work/waterwise.jpg" alt="Water Wise Coffee">
                            <div><span>Water wise Coffee <br><i>Wordpress </i><hr><i>External Link</i></span>
                            </div>
                        </a>
                    </li>
                    <li class='mix category-web projects'>
                        <a href="http://www.fireflyautoloans.com/" target="_blank" id="pro4">
                            <img src="_assets/images/work/firefly.jpg" alt="Firefly Auto Loan">
                            <div><span>Firefly Auto Loan <br>  <i>Front End</i> <hr><i>External Link</i></span>
                            </div>
                        </a>
                    </li>
                    <li class='mix category-web projects'>
                        <a href="http://www.tg4lifesports.com/" target="_blank" id="pro5">
                            <img src="_assets/images/work/tg.jpg" alt="Tg4Life ">
                            <div><span>TG For Life Sports <br>  <i>Front End</i> <hr><i>External Link</i></span>
                            </div>
                        </a>
                    </li>
                    <li class='mix category-web projects'>
                        <a href="https://www.convertwithoctane.com/#!/products/revups" target="_blank" id="pro6">
                            <img src="_assets/images/work/revups.jpg" alt="Octane Revups ">
                            <div><span>Octane Revups <br>  <i>Front End and Jquery Animation</i> <hr><i>External Link - Scroll Down and Click Live preview on Revup page to see the animation</i></span>
                            </div>
                        </a>
                    </li>
                    <li class='mix category-web projects'>
                        <a href="http://www.actexmenswear.com/" target="_blank" id="pro7">
                            <img src="_assets/images/work/actex.jpg" alt="Actex Mens Wear">
                            <div><span>Actex Mens Wear <br><i>Wordpress </i><hr><i>External Link</i></span>
                            </div>
                        </a>
                    </li>
                    <!------------------------
                    Photoshop Illustrator
                    -------------------------->
                    <li class='mix category-photoshop projects'>
                        <a id="log1" href="#" data-reveal-id="logo-work" class="log1" data-orbit-link="log1">
                            <img src="_assets/images/work/photoshop/small/designI.jpg" alt="Design Innovative">
                            <div><span>Design Innovative <hr><i>Logo</i></span></div>
                        </a>
                    </li>

                    <li class='mix category-photoshop projects'>
                        <a id="log2"  href="#" data-reveal-id="logo-work" class="log2" data-orbit-link="log2">
                            <img src="_assets/images/work/photoshop/small/musicLife.jpg" alt="Music is Life">
                            <div><span>Music is Life <hr><i>Poster</i></span></div>
                        </a>
                    </li>

                    <li class='mix category-photoshop projects'>
                        <a id="log3"  href="#" data-reveal-id="logo-work" class="log3" data-orbit-link="log3">
                            <img src="_assets/images/work/photoshop/small/vd.jpg" alt="Viveks Digital">
                            <div><span>Viveks Digital<hr> <i>Logo</i></span></div>
                        </a>
                    </li>
                    <li class='mix category-photoshop projects'>
                        <a id="log4"  href="#" data-reveal-id="logo-work" class="log4" data-orbit-link="log4">
                            <img src="_assets/images/work/photoshop/small/mts.jpg" alt="Miss Teen Scotland">
                            <div><span>Miss Teen Scotland <hr><i>Logo</i></span></div>
                        </a>
                    </li>
                    <li class='mix category-photoshop projects'>
                        <a id="log5"  href="#" data-reveal-id="logo-work" class="log5" data-orbit-link="log5">
                            <img src="_assets/images/work/photoshop/small/antriksh.jpg" alt="Antriksh">
                            <div><span>Antriksh <hr><i>Poster</i></span></div>
                        </a>
                    </li>
                    <li class='mix category-photoshop projects'>
                        <a id="log6"  href="#" data-reveal-id="logo-work" class="log6" data-orbit-link="log6">
                            <img src="_assets/images/work/photoshop/small/avenue.jpg" alt="Avenue">
                            <div><span>Avenue <hr><i>Logo</i></span></div>
                        </a>
                    </li>
                    <li class='mix category-photoshop projects'>
                        <a id="log7"  href="#" data-reveal-id="logo-work" class="log7" data-orbit-link="log7">
                            <img src="_assets/images/work/photoshop/small/clickMob.jpg" alt="Click Mob">
                            <div><span>Click Mob<hr> <i>Logo</i></span></div>
                        </a>
                    </li>
                    <li class='mix category-photoshop projects'>
                        <a id="log8"  href="#" data-reveal-id="logo-work" class="log8" data-orbit-link="log8">
                            <img src="_assets/images/work/photoshop/small/puneet.jpg" alt="Puneet">
                            <div><span>Puneet <hr> <i>Old Logo</i></span></div>
                        </a>
                    </li>
                    <div class="clear"></div>
                    </ul>

                </div> <!-- container end -->
        <div id="logo-work" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <ul class="work-orbit" data-orbit   data-options="timer:false; animation:slide; pause_on_hover:false; animation_speed:500; navigation_arrows:true; bullets:false; slide_number: false">
                <li data-orbit-slide="log1"> <img src="_assets/images/work/photoshop/large/designI.jpg" alt="slide 1" />
                </li>
                <li data-orbit-slide="log2"><img src="_assets/images/work/photoshop/large/musicLife.jpg" alt="slide 2"/>
                </li>
                <li data-orbit-slide="log3"> <img src="_assets/images/work/photoshop/large/vd.jpg" alt="slide 3" />
                </li>
                <li data-orbit-slide="log4"> <img src="_assets/images/work/photoshop/large/mts.jpg" alt="slide 4" />
                </li>
                <li data-orbit-slide="log5"> <img src="_assets/images/work/photoshop/large/antriksh.jpg" alt="slide 5" />
                </li>
                <li data-orbit-slide="log6"> <img src="_assets/images/work/photoshop/large/avenue.jpg" alt="slide 6" />
                </li>
                <li data-orbit-slide="log7"> <img src="_assets/images/work/photoshop/large/clickMob.jpg" alt="slide 7" />
                </li>
                <li data-orbit-slide="log8"> <img src="_assets/images/work/photoshop/large/puneet.jpg" alt="slide 8" />
                </li>
            </ul>
            <a class="close-reveal-modal" aria-label="Close" style="color:#161616;">&#215;</a>
        </div>
    </div><!-- wrapper end -->
</div> <!-- word end -->